ion-content {
  h1 {
    // background: rgb(36, 140, 210);
    font-size: 1.67em;
    padding-top: 7px;
    width: auto;
    padding-bottom: 7px;
  }

  .followed-items {
    .driver {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 30px;
      border: 1px solid rgba(212, 212, 212, 0.93);
      background-color: #fbb91d;
      padding: 10px;
      float: right;
      width: 80%;
      color: rgb(0, 0, 0);

      p {
        font-size: 16px;
        font-size: 4vw;
        color: rgb(0, 0, 0);
      }
    }

    .user {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 30px;
      border: 1px solid rgba(212, 212, 212, 0.93);
      background-color: #101110;
      padding: 10px;
      float: left;
      width: 80%;
      color: #fbb91d;

      p {
        font-size: 16px;
        font-size: 4vw;
        color: #fbb91d;
      }
    }
  }

  .topped-items {
    ion-item {
      margin-top: 0px;
      margin-bottom: 6px;
    }
    h2 {
      color: orange;
      font-size: 1.27em;
      padding: 2px;
    }

    ion-label {
      color: rgb(0, 153, 255) !important;
      font-size: 1em;
      padding: 2px;
    }
  }
}

ion-footer {
  #container_1 {
    margin-top: 2%;
    height: 70px;
    width: 148px;

    color: white;
    text-align: center;

    background-position: left;
    overflow: hidden;
    ion-icon {
      color: #ffffff;
    }
    h2 {
      font-size: 1em;
      height: auto;
    }

    ion-icon {
      margin: 5px;
    }

    .profile-pic {
      width: 15%;
      height: 18%;
    }
  }
}
