ion-content {
  form {
    margin-bottom: 26px;
    height: 200px;
    background: white;
    border-radius: 12px;
    animation-direction: alternate;
    animation-name: wiki;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    ion-button {
      margin-top: 20px !important;
    }
  }
}
