<ion-header class="ion-padding" no-border style="margin-top:20px">

  <ion-title>{{lp.translate()[0].j9}}</ion-title>

</ion-header>
<ion-content class="o-scroll" class="ion-padding">

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item>
      <ion-label color='primary' position="stacked">{{lp.translate()[0].f10}}</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message"
      *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.dirty">
      <p>{{lp.translate()[0].h3}}</p>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!resetPasswordForm.valid" size="large">
      {{lp.translate()[0].j7}}
    </ion-button>

  </form>

  <ion-button expand="block" (click)='goToLogin()' size="large">
    Go Back
  </ion-button>

</ion-content>