

<ion-content>
  <div class="back">
    <div id="overlay">
      <img src="/assets/img/eklogo.png" class="logoSize" />
      <div class="pad" id="move-down2">
        <h1 class="font-style2">Earn without hassle</h1>
        <h4 class="font-style">
         Enjoy earning when driving with Ekodot
        </h4>
      </div>

      <div class="move-down">
        <p class="pad" style="text-align: center">
          <ion-button color="primary" class="button_style" (click)="login()">
            Get Started
            <ion-icon color="light" name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </p>
      </div>
    </div>
  </div>
</ion-content>
